@font-face {
  font-family: "RobotoMono Regular";
  src: url(../public/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Glacial";
  src: url(../public/fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(../public/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../public/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../public/fonts/Montserrat-Medium.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat-Light";
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.orangeShape {
  position: absolute;
  left: 100px;
  top: 120px;
  opacity: 0.8;
}

.blobShape {
  position: absolute;
  left: 1300px;
  top: 100px;
  opacity: 0.8;
}

.sideBlob {
  position: absolute;
  overflow: visible;
  left: 1700px;
  top: 200px;
  opacity: 0.8;
  width: 400px;
  height: 400px;
}

.dotBlob {
  position: absolute;
  overflow: visible;
  left: 30px;
  top: 620px;
  opacity: 0.8;
  width: 600px;
  height: 600px;
  transform: rotate(-10deg);
}

.reviewBox {
  position: absolute;
  overflow: visible;
  left: -30px;
  top: -300px;
  width: 900px;
  height: 800px;
  z-index: -1;
}

.handTest {
  position: absolute;
  overflow: visible;
  left: 1100px;
  top: 1220px;
  opacity: 0.8;
  width: 400px;
  height: 400px;
}

.blueStreak {
  position: absolute;
  overflow: visible;
  left: 380px;
  top: 750px;
  opacity: 0.9;
  width: 900px;
  height: 900px;
  z-index: 1;
}
