@font-face {
  font-family: 'RobotoMono Regular';
  src: url(../public/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: 'Glacial';
  src: url(../public/fonts/GlacialIndifference-Regular.otf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Glacial';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
